
@using Microsoft.AspNet.Identity
@model IEnumerable<Cocycle.Models.RouteGroup>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">

    @*<p style="color:black">
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <div class="card">
        <div class="card-body">
            <table class="table " id="tablerequest" style="color:black">
                <thead>
                    <tr>
                        <th>
                            Route No
                        </th>
                        <th>
                            Route Creator
                        </th>
                        <th>
                            Contact No
                        </th>
                        <th>
                           Email
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RequestDate)
                        </th>
                        
                        <th>
                            Status
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.routes.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.routes.applicationUserCreated.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.routes.applicationUserCreated.PhoneNumber)
                         
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.routes.applicationUserCreated.Email)
                        </td>
                        <td>
                            @item.RequestDate.ToString("dd-MMM-yyyy")
                        </td>
                      
                        <td>
                            @if (item.IsApproved == false)
                            {
                                <span class="badge badge-danger">Pending</span>
                            }
                            else
                            {
                                <span class="badge badge-success">Approved</span>
                            }
                        </td>
                        <td>
                            @if (item.routes.FeedBack != null)
                            {
                                if (item.routes.FeedBack.Count() > 0)
                                {
                                    foreach (var items in item.routes.FeedBack)
                                    {
                                        if (User.Identity.GetUserId() == items.UserId)
                                        {
                                            @Html.ActionLink("View Feedback", "Details", "Feedbacks", new { items.Id }, new { @class = "btn btn-success btn-sm" })
                                            break;
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Completed", "Addroutefeedback", "Feedbacks", item.routes, new { @class = "btn btn-success btn-sm" })
                                        }
                                    }
                                }
                                else
                                {
                                    @Html.ActionLink("Completed", "Addroutefeedback", "Feedbacks", item.routes, new { @class = "btn btn-success btn-sm" })
                                }
                            }
                            else
                            {
                                @Html.ActionLink("Completed", "Addroutefeedback", "Feedbacks", item.routes, new { @class = "btn btn-success btn-sm" })
                            }



                        </td>
                        <td>@Html.ActionLink("View Route", "Details", "Routes", item.routes, new { @class = "btn btn-info btn-sm" })</td>
                    </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>


</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <!-- With locals-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <!-- Without locals-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>



    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        $('#tablerequest').DataTable();
    });
    </script>

}
