@using Microsoft.AspNet.Identity
@model IEnumerable<Cocycle.Models.Routes>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="search-area py-3">
    <div class="container">
        <form method="post" action="~/Routes/RequestSearchBy">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="form-field">
                            <label>State</label>
                            <select id="StateId" name="stateid" class="form-control"><option value="0">Select State</option></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="form-field">
                            <label>City</label>
                            <select id="AreaId" name="areaid" class="form-control"><option value="0">Select City</option></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="form-field">
                            <label>&nbsp;</label>
                            <input href="#" type="submit" Value="Search" class="btn btn-element btn-medium btn-red " />
                        </div>
                    </div>
                </div>

                <div class="btn-wrapper ">
                    @*<input href="#" type="submit" Value="Search" class="btn btn-element btn-medium btn-red float-right" />*@

                    @*@Html.ActionLink("Search", "SearchBy", "Routes",
            new
            {
                stateid = User.Identity.GetUserId(),
                areaid = DateTime.Now,
                postcode=
            }, new { @class = "btn btn-element btn-medium btn-red float-right" })*@

                </div>
                <!--<div class="col-md-4">
    <div class="form-group">-->
                @*<div class="form-field">
            <label>Postal Code</label>
            <input id="txtpostcode" name="postcode" class="form-control" type="text" placeholder="search by postcode" />
        </div>*@

                <!--</div>
    </div>-->
            </div>
        </form>
    </div>
</div>


<div class="event-tab" style="margin: 10px 0px 50px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-accordion">
                    <div class="tab">
                        <ul>
                            <li class="tab-All active">All</li>
                            <li class="tab-Commute">Commute</li>
                            <li class="tab-Social">Social</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="tab-All-content inactive active">
                        <div class="event-left-content" id="divlist">
                            @foreach (var item in Model)
                            {
                            <div class="img-item row">
                                <div class="col-lg-3">
                                    <div class="row h-100">
                                        <div class="img-left" style="display: block;">
                                            @if (item.PosterImage != null)
                                            {
                                                <img class="img-fluid pad" src="@Html.DisplayFor(modelItem => item.PosterImage)" style=" width:100%" alt="">
                                            }
                                            else
                                            {
                                                <img class="img-fluid pad" src="~/Content/banner-img/Cocycle-bike-orange.png" style="width:100%" alt="">
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9  d-flex align-items-center">
                                    <div class="content" style="padding-left: 4%;border-left:unset">

                                        <h4 style="margin-top: 0px">
                                            <span class="labels">Location : </span> @Html.DisplayFor(modelItem => item.State.StateName),
                                            @Html.DisplayFor(modelItem => item.Area.AreaName)
                                            &emsp;<span class="labels">Route No :  </span> @Html.DisplayFor(modelItem => item.Id)
                                            &emsp; <span class="labels">Created Date : </span> @item.Created.ToString("dd-MMMM-yyyy")
                                        </h4>

                                        <h4 style="margin-top: 0px">
                                            <span class="labels">Departure :</span> @item.StartTime.ToString(" hh:mm tt")
                                            &emsp; <span class="labels">Arrival :</span>  @item.EndTime.ToString(" hh:mm tt")
                                            &nbsp;<span class="labels">Days :</span>
                                            @foreach (var items in @item.RouteSchedule)
                                            {
                                                <span class="days badge badge-primary my-1"> @items.DayId</span>
                                            }
                                        </h4>

                                        <h4 style="margin-top: 0px">
                                            <span class="labels">By :  </span> @Html.DisplayFor(modelItem => item.applicationUserRequested.Name)
                                            &nbsp; <span class="labels">Phone No : </span>@Html.DisplayFor(modelItem => item.applicationUserRequested.PhoneNumber)
                                            &nbsp; <span class="labels">Email-ID : </span>@Html.DisplayFor(modelItem => item.applicationUserRequested.Email)
                                        </h4>
                                        <h4 style="margin-top: 0px">
                                            <span class="labels">Departure Point -</span> @Html.DisplayFor(modelItem => item.StartingPoint)
                                            &nbsp;   <span class="labels">Arrival Point -</span> @Html.DisplayFor(modelItem => item.EndPoint)
                                            &nbsp;
                                            @if (item.Addreturn == true)
                                            {
                                                <span class="labels">Return Journey</span>
                                            }
                                        </h4>

                                        @if (item.Message != null)
                                        {
                                            <p><span class="labels">Message</span> : @Html.DisplayFor(modelItem => item.Message)</p>
                                        }
                                        @if (item.Description != null)
                                        {
                                            <p><span class="labels">Description</span> : @Html.DisplayFor(modelItem => item.Description)</p>
                                        }



                                        <div class="btn-wrapper">
                                            <a href="#">
                                                @Html.ActionLink("Offer Help", "AcceptRequest", "Routes",
                                             new
                                             {
                                                 requestby = User.Identity.GetUserId(),
                                                 requestdate = DateTime.Now,
                                                 RouteId = item.Id
                                             }, new { @class = "btn btn-element btn-medium btn-red float-right" })
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            }

                        </div>
                    </div>
                    <div class="tab-Commute-content inactive">
                        <div class="event-left-content" id="divlist">
                            @foreach (var item in Model.Where(x => x.RouteType == 1))
                            {
                                <div class="img-item row">
                                    <div class="col-lg-3">
                                        <div class="row h-100">
                                            <div class="img-left" style="display: block;">
                                                @if (item.PosterImage != null)
                                                {
                                                    <img class="img-fluid pad" src="@Html.DisplayFor(modelItem => item.PosterImage)" style=" width:100%" alt="">
                                                }
                                                else
                                                {
                                                    <img class="img-fluid pad" src="~/Content/banner-img/Cocycle-bike-orange.png" style="width:100%" alt="">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9  d-flex align-items-center">
                                        <div class="content" style="padding-left: 4%;border-left:unset">


                                            <h4 style="margin-top: 0px">
                                                <span class="labels">Location : </span> @Html.DisplayFor(modelItem => item.State.StateName),
                                                @Html.DisplayFor(modelItem => item.Area.AreaName)
                                                &emsp;<span class="labels">Route No :  </span> @Html.DisplayFor(modelItem => item.Id)
                                                &emsp; <span class="labels">Created Date : </span> @item.Created.ToString("dd-MMMM-yyyy")
                                            </h4>

                                            <h4 style="margin-top: 0px">
                                                <span class="labels">Departure :</span> @item.StartTime.ToString(" hh:mm tt")
                                                &emsp; <span class="labels">Arrival :</span>  @item.EndTime.ToString(" hh:mm tt")
                                                &nbsp;<span class="labels">Days :</span>
                                                @foreach (var items in @item.RouteSchedule)
                                                {
                                                    <span class="days badge badge-primary my-1"> @items.DayId</span>
                                                }
                                            </h4>

                                            <h4 style="margin-top: 0px">
                                                <span class="labels">By :  </span> @Html.DisplayFor(modelItem => item.applicationUserRequested.Name)
                                                &nbsp; <span class="labels">Phone No : </span>@Html.DisplayFor(modelItem => item.applicationUserRequested.PhoneNumber)
                                                &nbsp; <span class="labels">Email-ID : </span>@Html.DisplayFor(modelItem => item.applicationUserRequested.Email)
                                            </h4>
                                            <h4 style="margin-top: 0px">
                                                <span class="labels">Departure Point -</span> @Html.DisplayFor(modelItem => item.StartingPoint)
                                                &nbsp;   <span class="labels">Arrival Point -</span> @Html.DisplayFor(modelItem => item.EndPoint)
                                                &nbsp;
                                                @if (item.Addreturn == true)
                                                {
                                                    <span class="labels">Return Journey</span>
                                                }
                                            </h4>

                                            @if (item.Message != null)
                                            {
                                                <p><span class="labels">Message</span> : @Html.DisplayFor(modelItem => item.Message)</p>
                                            }
                                            @if (item.Description != null)
                                            {
                                                <p><span class="labels">Description</span> : @Html.DisplayFor(modelItem => item.Description)</p>
                                            }


                                            <div class="btn-wrapper">
                                                <a href="#">
                                                    @Html.ActionLink("Offer Help", "AcceptRequest", "Routes",
                                                 new
                                                 {
                                                     requestby = User.Identity.GetUserId(),
                                                     requestdate = DateTime.Now,
                                                     RouteId = item.Id
                                                 }, new { @class = "btn btn-element btn-medium btn-red float-right" })
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="tab-Social-content inactive">
                        <div class="event-left-content" id="divlist">
                            @foreach (var item in Model.Where(x => x.RouteType == 2))
                            {
                                <div class="img-item row">
                                    <div class="col-lg-3">
                                        <div class="row h-100">
                                            <div class="img-left" style="display: block;">
                                                @if (item.PosterImage != null)
                                                {
                                                    <img class="img-fluid pad" src="@Html.DisplayFor(modelItem => item.PosterImage)" style=" width:100%" alt="">
                                                }
                                                else
                                                {
                                                    <img class="img-fluid pad" src="~/Content/banner-img/Cocycle-bike-orange.png" style="width:100%" alt="">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9  d-flex align-items-center">
                                        <div class="content" style="padding-left: 4%;border-left:unset">

                                            <h4 style="margin-top: 0px">
                                                <span class="labels">Location : </span> @Html.DisplayFor(modelItem => item.State.StateName),
                                                @Html.DisplayFor(modelItem => item.Area.AreaName)
                                                &emsp;<span class="labels">Route No :  </span> @Html.DisplayFor(modelItem => item.Id)
                                                &emsp; <span class="labels">Created Date : </span> @item.Created.ToString("dd-MMMM-yyyy")
                                            </h4>

                                            <h4 style="margin-top: 0px">
                                                <span class="labels">Departure :</span> @item.StartTime.ToString(" hh:mm tt")
                                                &emsp; <span class="labels">Arrival :</span>  @item.EndTime.ToString(" hh:mm tt")
                                                &nbsp;<span class="labels">Days :</span>
                                                @foreach (var items in @item.RouteSchedule)
                                                {
                                                    <span class="days badge badge-primary my-1"> @items.DayId</span>
                                                }
                                            </h4>

                                            <h4 style="margin-top: 0px">
                                                <span class="labels">By :  </span> @Html.DisplayFor(modelItem => item.applicationUserRequested.Name)
                                                &nbsp; <span class="labels">Phone No : </span>@Html.DisplayFor(modelItem => item.applicationUserRequested.PhoneNumber)
                                                &nbsp; <span class="labels">Email-ID : </span>@Html.DisplayFor(modelItem => item.applicationUserRequested.Email)
                                            </h4>
                                            <h4 style="margin-top: 0px">
                                                <span class="labels">Departure Point -</span> @Html.DisplayFor(modelItem => item.StartingPoint)
                                                &nbsp;   <span class="labels">Arrival Point -</span> @Html.DisplayFor(modelItem => item.EndPoint)
                                                &nbsp;
                                                @if (item.Addreturn == true)
                                                {
                                                    <span class="labels">Return Journey</span>
                                                }
                                            </h4>

                                            @if (item.Message != null)
                                            {
                                                <p><span class="labels">Message</span> : @Html.DisplayFor(modelItem => item.Message)</p>
                                            }
                                            @if (item.Description != null)
                                            {
                                                <p><span class="labels">Description</span> : @Html.DisplayFor(modelItem => item.Description)</p>
                                            }

                                            <div class="btn-wrapper">
                                                <a href="#">
                                                    @Html.ActionLink("Offer Help", "AcceptRequest", "Routes",
                                                 new
                                                 {
                                                     requestby = User.Identity.GetUserId(),
                                                     requestdate = DateTime.Now,
                                                     RouteId = item.Id
                                                 }, new { @class = "btn btn-element btn-medium btn-red float-right" })
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <!-- Without locals-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>



    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            var dayslist = Array.from(document.querySelectorAll(".days"));
            dayslist.forEach(function (item) {
                if (item.innerHTML == 1) { item.innerHTML = "Mon"; }
                if (item.innerHTML == 2) { item.innerHTML = "Tue"; }
                if (item.innerHTML == 3) { item.innerHTML = "Wed"; }
                if (item.innerHTML == 4) { item.innerHTML = "Thu"; }
                if (item.innerHTML == 5) { item.innerHTML = "Fri"; }
                if (item.innerHTML == 6) { item.innerHTML = "Sat"; }
                if (item.innerHTML == 7) { item.innerHTML = "Sun"; }
            });
        });

    var ddlarea = document.getElementById("AreaId");


     getstate();
    var ddlstate = document.getElementById("StateId");
  function  getstate(){
       $.ajax({
                type: 'GET',
                url:'@Url.Content("~/States/GetAll/")',
                //url: '/State/GetByState/' + id + '',
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    data.forEach((item) => {
                        ddlstate.options[ddlstate.options.length] = new Option(item.StateName, item.Id);
                    });
                },

            });
    }
    $('#StateId').change(function () {
        var id = $('#StateId option:selected').val();
           // alert(id);
            if (id > 0) {

            $.ajax({
                type: 'POST',
                url:'@Url.Content("~/Areas/GetByState/")',
                //url: '/State/GetByState/' + id + '',
                data: "{Stateid:'" + id + "'}",
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    ddlarea.innerHTML = "";
                    ddlarea.options[ddlarea.options.length] = new Option("Select Area", 0);
                    data.forEach((item) => {
                        ddlarea.options[ddlarea.options.length] = new Option(item.AreaName, item.Id);
                    });
                },

            });
            }
            else {
                ddlarea.innerHTML = "";
                ddlarea.options[ddlarea.options.length] = new Option("Select Area", "");
            }

        });
     $("#btnsearch").click(function (e) {
        e.preventDefault();

        var stateid = $('#StateId option:selected').val();
        var areaid = $('#AreaId option:selected').val();

        if (stateid > 0) {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Routes/RequestSearchBy/")',
                //url: '/State/GetByState/' + id + '',
                data: "{stateid:'" + stateid + "',areaid:'" + areaid + "'}",
                dataType: 'html',
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    $('#divlist').html(data);
                },

            });
        }
        else {
            alert("please select state");
        }
        });


    </script>
}
